
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="https://appseed.us/admin-dashboards/flask-dashboard-adminator">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="/static/assets/static/images/iconss.png" alt="" style="margin-top:15%">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text" style="color:rgba(11,81,62,1);font-family: Montserrat;
                      font-weight: Bold;opacity: 1;text-align: left;">NRF-TETFUND</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          
          <ul class="scrollable" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% if session.logged_in %}
            {% if session.role == "superuser" %}
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/admin_adout">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-info-circle"></i>
                </span>
                <span class="title" style="color:#000">About Us</span>
              </a>
            </li>
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/admin_index">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-home"></i>
                </span>
                <span class="title" style="color:#000">Dashboard</span>
              </a>
            </li>
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/admin_view_data">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-cloud"></i>
                </span>
                <span class="title" style="color:#000">View Data</span>
              </a>
            </li>
            
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/admin_view_article">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-bookmark"></i>
                </span>
                <span class="title" style="color:#000">All Articles</span>
              </a>
            </li>
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/admin_vienew_articlen">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-book"></i>
                </span>
                <span class="title" style="color:#000">New Articles</span>
              </a>
            </li>
            
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/admin_viewresearch">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-bell"></i>
                </span>
                <span class="title" style="color:#000">Research</span>
              </a>
            </li>
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/admin_viewnews">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-bell"></i>
                </span>
                <span class="title" style="color:#000">All News</span>
              </a>
            </li>
            
            <li class="nav-item mT-30 actived">
              <a href="/changepassword_admin" class="sidebar-link">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-key"></i>
                </span>
              
                <span class="title" style="color:#000">Change Password</span>
              </a>
            </li>
                   
            <li class="nav-item mT-30 actived">
              <a href ="#" onclick="return funLogout()">
                <span class="icon-holder">
                  <i class="c-green-500 fas fa-sign-out-alt"></i>
                </span>
                <span class="title" style="color:#000">Logout</span>
              </a>
            </li>
      {% endif %}
      {% if session.role == "examineruser" %}
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/researcher_index">
          <span class="icon-holder">
            <i class="c-green-500 ti-home"></i>
          </span>
          <span class="title" style="color:#000">Dashboard</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/research_viewresearch">
          <span class="icon-holder">
            <i class="c-green-500 ti-files"></i>
          </span>
          <span class="title" style="color:#000">Concept Note</span>
        </a>
      </li>
      
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/uploadpap">
          <span class="icon-holder">
            <i class="c-green-500 ti-upload"></i>
          </span>
          <span class="title" style="color:#000">Full Proposal</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/articlestat">
          <span class="icon-holder">
            <i class="c-green-500 ti-check-box"></i>
          </span>
          <span class="title" style="color:#000">Assessors</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/articlestat">
          <span class="icon-holder">
            <i class="c-green-500 ti-check-box"></i>
          </span>
          <span class="title" style="color:#000">Monitoring</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a href="/changepassword_researcher" class="sidebar-link">
          <span class="icon-holder">
            <i class="c-green-500 ti-key"></i>
          </span>
        
          <span class="title" style="color:#000">Profile</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a href="/assessor_area" class="sidebar-link">
          <span class="icon-holder">
            <i class="c-green-500 ti-key"></i>
          </span>
        
          <span class="title" style="color:#000">Area of Expertise</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a href="/changepassword_researcher" class="sidebar-link">
          <span class="icon-holder">
            <i class="c-green-500 ti-key"></i>
          </span>
        
          <span class="title" style="color:#000">Change Password</span>
        </a>
      </li>
      
      <li class="nav-item mT-30 actived">
        <a href ="#" onclick="return funLogout()">
          <span class="icon-holder">
            <i class="c-green-500 fas fa-sign-out-alt"></i>
          </span>
          <span class="title" style="color:#000">Logout</span>
        </a>
      </li>
      {% endif %}
      {% if session.role == "piuser" %}
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/pinvesti_index">
          <span class="icon-holder">
            <i class="c-green-500 ti-home"></i>
          </span>
          <span class="title" style="color:#000">Dashboard</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/pinvesti_full">
          <span class="icon-holder">
            <i class="c-green-500 ti-home"></i>
          </span>
          <span class="title" style="color:#000">Project</span>
        </a>
      </li>
      <li class="nav-item mT-30 actived">
        <a class="sidebar-link" href="/">
          <span class="icon-holder">
            <i class="c-green-500 ti-home"></i>
          </span>
          <span class="title" style="color:#000">Profile</span>
        </a>
      </li>
      
      <li class="nav-item mT-30 actived">
        <a href="/changepassword_farmer" class="sidebar-link">
          <span class="icon-holder">
            <i class="c-green-500 ti-key"></i>
          </span>
        
          <span class="title" style="color:#000">Change Password</span>
        </a>
      </li>
      
      
      <li class="nav-item mT-30 actived">
        <a href ="#" onclick="return funLogout()">
          <span class="icon-holder">
            <i class="c-green-500 fas fa-sign-out-alt"></i>
          </span>
          <span class="title" style="color:#000">Logout</span>
        </a>
      </li>
      {% endif %}
      {% else %}
      <li class="nav-item mT-30 actived">
        <a href ="#" onclick="return funLogout()">
          <span class="icon-holder">
            <i class="c-green-500 fas fa-sign-out-alt"></i>
          </span>
          <span class="title" style="color:#000">Logout</span>
        </a>
      </li>
      {% endif %}
          </ul>
        </div>
      </div>
