{% extends 'adminpossed_dashboard.html' %}
{% block body %}
<div class="container">
    <div class="col-12">
        <div class="bg-white">
            <div class="card" style="margin:10%;width:100%">
            <div class="card-header" style="background:rgba(22, 170, 131)">
                <h2 style="color:#fff;font-family: Montserrat;">Main Admin - Dashboard</h2>
                
            </div>
                      
                <div class="card-body">
                    <div style="overflow-x:auto;">
            <table id="empTable" class="table table-striped table-bordered display dataTable" style="width:50%; font-size: 12px;">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>PI's Email</th>
                        <th>PI's Institution</th>
                        <th>Topic</th>
                        <th>Thematic Area</th>
                        <th>Research Area</th>
                        <th>Date Assigned</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in crustat %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{data.piemail}}</td>
                        <td>{{data.pitopic}}</td>
                        <td>{{data.thematic}}</td>
                        <td>{{data.category}}</td>
                        <td>{{data.assessoremail}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>S/N</th>
                        <th>PI's Email</th>
                        <th>PI's Institution</th>
                        <th>Topic</th>
                        <th>Thematic Area</th>
                        <th>Research Area</th>
                        <th>Date Assigned</th>
                    </tr>
                </tfoot>
            </table>
            </div><br>
                
            </div>
            </div>
    </div>
    </div>
</div>
{% endblock %}