{% extends 'farmer_dashboard.html' %}
{% block body %}

<div class="container">
    <div class="col-12">
        <div class="bg-white">
            <div class="card" style="margin:10%;width:100%">
            <div class="card-header" style="background:rgba(22, 170, 131);width:90%;margin-left:3%;margin-top:3%">
                <h2 style="color:#fff;font-family: Montserrat;">Discourse Miner</h2>
                
            </div>
            
                <br>
                <div class="card-body">
                    
                    <div style="overflow-x:auto;">
           
        </div>
            </div>
            </div>
            </div>
            </div>
    </div>
    </div>
{% endblock %}